h1
{
 text-align: center;
 color:  rgb(4, 78, 47);
}
.container
{

    font-size: larger;
    background: rgb(69, 68, 68);
    height: 15cm;
    width: 10cm;
    border-radius: 3%;
}
p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    padding-top: 5%;
}
.bod
{
    display: flex;
    justify-content: center;
}
#screen
{
    text-align: right;
    font-size: 2rem;
    background-color: rgb(92, 135, 226);
    border-color: black;
    margin-left: 1cm;
    height: 1cm;
    width: 8cm;
}
.button
{
    margin-left: 11.5%;
    margin-top: 10%;
    height: 1cm;
    width: 1cm;
    border-radius: 1ch;
}
.operator
{
    border-radius: 1dvb;
    background-color: rgb(242, 107, 107);
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.clear
{
    background-color: rgb(109, 225, 109);
    font-style: italic;
}
.result
{
     margin-bottom: 6vh;
    font-size: xx-large;
    background-color: rgb(67, 212, 67);
    height: 50px;
    width: 200px;
}
.connect
{
    margin-left: 10cm;
    font-size: larger;
    padding: 5%;
}
.logo
{   
    height: 0.5cm;
}
.button:hover
{
    cursor: pointer;
    background-color:rgb(92, 135, 226) ;
}
.delete
{
    margin-bottom: 6vh;
    font-size: medium;
    background-color: rgb(222, 239, 222);
    height: 50px;
    width: 50px;
}

